[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/python_fn"]
	path = .vim/bundle/python_fn
	url = https://github.com/vim-scripts/python.vim.git
[submodule ".vim/bundle/vividchalk"]
	path = .vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/wombat"]
	path = .vim/bundle/wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule ".vim/bundle/vimbuddy"]
	path = .vim/bundle/vimbuddy
	url = https://github.com/vim-scripts/vimbuddy.vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule ".vim/bundle/python.vim--Vasiliev"]
	path = .vim/bundle/python.vim--Vasiliev
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/matchtag"]
	path = .vim/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
