[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/python_fn"]
	path = .vim/bundle/python_fn
	url = https://github.com/vim-scripts/python.vim.git
[submodule ".vim/bundle/vividchalk"]
	path = .vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/wombat"]
	path = .vim/bundle/wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule ".vim/bundle/vimbuddy"]
	path = .vim/bundle/vimbuddy
	url = https://github.com/vim-scripts/vimbuddy.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/python.vim--Vasiliev"]
	path = .vim/bundle/python.vim--Vasiliev
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/jslint"]
	path = .vim/bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-pep8"]
	path = .vim/bundle/vim-pep8
	url = https://github.com/jbking/vim-pep8.git
